<!DOCTYPE html>
<html>
  <head>
    <title>OPX Archive Listing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <noscript>
      <meta http-equiv="refresh" content="0;url=http://archive.openswitch.net.s3-us-west-2.amazonaws.com/">
    </noscript>
    <style>
body {
  margin: 0 auto;
  font-family: monospace;
  font-size: 1.2em;
  line-height: 1.2;
  padding: 1em 1em;
  color: #333;
  background-color: #eee;
}
h1, h2 {
  color: #f77102;
}
dl {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}
small, dt {
  color: #777;
}
a:link, a:visited {
  color: #333;
  text-decoration: none;
}
a:hover, a:active {
  color: #e81c4f;
  text-decoration: none;
}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filesize/3.6.1/filesize.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>{{ title }}</h2>

      <span>Search: <input v-model="query"></span>
      <p v-if="queryResults.length == 0 && query != ''">No results found.</p>
      <ul v-else>
        <li
          v-for="(item, index) in queryResults"
          v-bind:key="item.id"
          v-bind:data-index="index"
        ><archive-item :file="item"></archive-item></li>
      </ul>

      <div v-if="query == ''">
        <hr />
        <div v-if="recent.length != 0">
          <span>Modified in the last seven days:</span>
          <ul>
            <li v-for="(item, index) in recent" :key="item.id" :data-index="index">
              <archive-item :file="item"></archive-item>
            </li>
          </ul>
        </div>
        <span v-else>No recently modified files.</span>
        <hr />
      </div>

      <archive-folder v-if="query == ''" :folder="tree"></archive-folder>
    </div>

    <script src="index.js"></script>
  </body>
</html>